<section class="header_alls">
    <div class="mainheader_second">
        <div class="containersd">
            <div class="col-md-2">
                <div class="logo_sec">
                    <a routerLink="/"><img src="assets/images/logos.png" /></a>
                </div>
            </div>
            <div class="col-md-7 nopadding_no_nopadding_no">
                <form [formGroup]="searchForm">
                    <div class="input-group only__innerpages">
                        <!-- <div class="input-group-btn search-panel">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span id="search_concept">Filter by</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#contains">Contains</a></li>
                            <li><a href="#its_equal">It's equal</a></li>
                            <li><a href="#greather_than">Greather than </a></li>
                            <li><a href="#less_than">Less than </a></li>
                            <li class="divider"></li>
                            <li><a href="#all">Anything</a></li>
                        </ul>
                    </div> -->
                        <input type="text" class="form-control" formControlName="query" placeholder="Search term...">
                        <span class="input-group-btn">
                            <button class="btn btn-default search__button" type="submit" [disabled]="!searchForm.valid" (click)="search()">Search</button>
                        </span>
                    </div>
                </form>
            </div>
            <div class="col-md-3">
                <div class="login_signup" *ngIf="!tokenService.loggedIn">
                    <ul>
                        <li class="login__user">
                            <a routerLink="/auth/login">
                                <span class="user__icos">
                                    <i class="fa fa-user"></i>
                                </span>
                                Login
                            </a>
                        </li>
                        <li class="register_now">
                            <a routerLink="/auth/register"> Register</a>
                        </li>
                    </ul>
                </div>
                <div class="user-profile" *ngIf="tokenService.loggedIn">
                    <div class="user-rpodile-logggedin">
                        <button class="logged-in-menu" type="button" (click)="openMenu()">
                            {{ tokenService.getUser().name }}<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu-user" *ngIf="is_menu_open">
                            <li><a routerLink="/user/address">My Address</a></li>
                            <li><a routerLink="/user/order">My Order</a></li>
                            <li><a routerLink="/user/profile">My Profile</a></li>
                            <li><a routerLink="/user/wishlist">My Wishlist</a></li>
                            <li><a (click)="logout()">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>