<section class="mydashboardpage__12">
    <div class="container">
        <app-sidebar></app-sidebar>
        <div class="col-md-9">
            <div class="card mb-0">
                <div class="card-header">
                    <h3 class="card-title">Manage Order</h3>
                </div>
                <div class="card-body">
                    <div class="table-responsive border-top">
                        <table class="table table-bordered table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <th>Order ID</th>
                                    <th>Name</th>
                                    <th>Date</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let order of orders">
                                    <td class="text-primary">#{{ order.order_id }}</td>
                                    <td>{{ order.product_name }}</td>
                                    <td>{{ convertDate(order.created_at) }}</td>
                                    <td class="fs-16">₹{{ order.product_price }}</td>
                                    <td>{{ order.product_quantity }}</td>
                                    <td> <a href="javascript:void(0);" class="badge badge-danger capitalize">{{ order.status }}</a> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>