<section class="mydashboardpage__12">
    <div class="container">
        <app-sidebar></app-sidebar>
        <div class="col-md-9">
            <div class="card mb-0">
                <div class="card-header">
                    <h3 class="card-title">Manage Order</h3>
                </div>
                <div class="card-body">
                    <div class="table-responsive border-top">
                        <table class="table table-bordered table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <th>Order ID</th>
                                    <th>Name</th>
                                    <th>Date</th>
                                    <th>Price</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-primary">#89345</td>
                                    <td>Product Name</td>
                                    <td>07-12-2020</td>
                                    <td class="fs-16">$13</td>
                                    <td> <a href="#" class="badge badge-danger">Pending</a> </td>
                                </tr>
                                <tr>
                                    <td class="text-primary">#39281</td>
                                    <td>Product Name</td>
                                    <td>12-11-2020</td>
                                    <td class="fs-16">$54</td>
                                    <td> <a href="#" class="badge badge-primary">Paid</a> </td>
                                </tr>
                                <tr>
                                    <td class="text-primary">#35825</td>
                                    <td>Product Name</td>
                                    <td>15-11-2020</td>
                                    <td class="fs-16">$32</td>
                                    <td> <a href="#" class="badge badge-primary">Paid</a> </td>
                                </tr>
                                <tr>
                                    <td class="text-primary">#62391</td>
                                    <td>Product Name</td>
                                    <td>10-11-2020</td>
                                    <td class="fs-16">$15</td>
                                    <td> <a href="#" class="badge badge-danger">Pending</a> </td>
                                </tr>
                                <tr>
                                    <td class="text-primary">#92481</td>
                                    <td>Product Name</td>
                                    <td>07-11-2020</td>
                                    <td class="fs-16">$32</td>
                                    <td> <a href="#" class="badge badge-primary">Paid</a> </td>
                                </tr>
                                <tr>
                                    <td class="text-primary">#29381</td>
                                    <td>Product Name</td>
                                    <td>31-10-2020</td>
                                    <td class="fs-16">$25</td>
                                    <td> <a href="#" class="badge badge-danger">Pending</a> </td>
                                </tr>
                                <tr>
                                    <td class="text-primary">#72356</td>
                                    <td>Product Name</td>
                                    <td>27-10-2020</td>
                                    <td class="fs-16">$16</td>
                                    <td> <a href="#" class="badge badge-danger">Pending</a> </td>
                                </tr>
                                <tr>
                                    <td class="text-primary">#89345</td>
                                    <td>Product Name</td>
                                    <td>30-11-2020</td>
                                    <td class="fs-16">$24</td>
                                    <td> <a href="#" class="badge badge-primary">Paid</a> </td>
                                </tr>
                                <tr>
                                    <td class="text-primary">#4570</td>
                                    <td>Product Name</td>
                                    <td>03-12-2020</td>
                                    <td class="fs-16">$14</td>
                                    <td> <a href="#" class="badge badge-danger">Pending</a> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>