<section class="checkout__pagesss checkoutpagee">
    <div class="container">
        <form [formGroup]="checkoutForm">
            <div class="col-md-8">
                <div class="row" style="padding-top:25px; padding-bottom:25px;">
                    <div class="col-md-12 s__e__fef__f">
                        <div id="mainContentWrapper">
                            <div class="shopping_cart">
                                <div class="panel-group" id="accordion">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a href="javascript:void(0);">Login First</a>
                                            </h4>
                                        </div>
                                        <div class="panel-collapse collapse in" *ngIf="!isLoggedIn">
                                            <div class="panel-body">
                                                <div class="formmss">
                                                    <div class="col-md-5">
                                                        <div class="login__ds">
                                                            <input type="email" name="email" placeholder="Email Id">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <div class="login__ds">
                                                            <input type="password" name="password"
                                                                placeholder="Password">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="login__ds">
                                                            <button type="submit" class="submit__sss"> Login</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-group" id="accordion">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a href="javascript:void(0);">Choose Address</a>
                                                <a routerLink="/user/address/add" class="pull-right">New Address</a>
                                            </h4>
                                        </div>
                                        <div class="panel-collapse collapse in" *ngIf="isAddressSet">
                                            <div class="panel-body">
                                                <ul class="ad__09876r">
                                                    <li class="s__showing" *ngFor="let addr of addresses">
                                                        <div class="fulladdress">
                                                            <div class="addressicon">
                                                                <i class="fa fa-home"></i>
                                                            </div>
                                                            <div class="address__content">
                                                                <h3 class="capitalize">{{ addr.address_type }}</h3>
                                                                <p>
                                                                    <span class="address-name">
                                                                        {{ addr.name }}
                                                                    </span>
                                                                    <span class="address-number">
                                                                        {{ addr.mobile }}
                                                                    </span>
                                                                </p>
                                                                <p>
                                                                    <span class="address-address">
                                                                        {{ addr.address }}, {{ addr.locality }},
                                                                        {{ addr.city_name }},
                                                                        {{ addr.state_name }} - {{ addr.pincode }}
                                                                    </span>
                                                                </p>
                                                                <ul class="edit__delete">
                                                                    <li>
                                                                        <a
                                                                            routerLink="/user/address/edit/{{ addr.id }}">
                                                                            <span class="panc">
                                                                                <i class="fa fa-pencil"></i>
                                                                            </span>Edit
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <span class="address-select">
                                                                            <input type="radio" value="{{ addr.id }}"
                                                                                (click)="addressSelect()"
                                                                                formControlName="address_id"
                                                                                name="address_id"
                                                                                [(ngModel)]="checkout.address_id"
                                                                                id="adddress_{{ addr.id }}">
                                                                            <label
                                                                                for="adddress_{{ addr.id }}">Select</label>
                                                                        </span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <app-field-error [submitted]="submitted"
                                                        [server_message]="server_message.address_id"
                                                        [control]="checkoutForm.get('address_id')"></app-field-error>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-group" id="accordion">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a href="javascript:void(0);">
                                                    Payment Information
                                                </a>
                                            </h4>
                                        </div>
                                        <div class="panel-collapse collapse in" *ngIf="isPaymentSet">
                                            <div class="panel-body">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="right__side__bar__0">
                    <div class="s__99__99">
                        <h3 class="you___0jhjhj">Your Order</h3>
                        <ul class="s__tts__s" *ngIf="cartProductList.length">
                            <li *ngFor="let product of cartProductList">
                                <div class="col-md-1 pl15">
                                    <div class="nveg tag left" data-icon="ǝ" style="position: relative; top: 0px;">
                                    </div>
                                </div>
                                <div class="col-md-11">
                                    <div class="cont__wwsx">
                                        <div class="d__00d">
                                            <h3>{{ product.name }}</h3>
                                        </div>
                                        <div class="form__0__s">
                                            <!-- <div class="value-button" id="decrease" (click)="decrement(product)"
                                                value="Decrease Value">-</div> -->
                                            <input type="number" id="number" value="{{ product.quantity }}" disabled>
                                            <!-- <div class="value-button" id="increase" (click)="increment(product)"
                                                value="Increase Value">+</div> -->
                                        </div>
                                        <div class="item-price-container">
                                            <span class="cross">₹{{ product.sale_price * product.quantity }}</span>
                                            <span>₹{{ product.discount_price * product.quantity }}</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="side-bar-bottom cart-summary">
                        <div class="coupon-code-input">
                            <input type="text" formControlName="coupon_code" [(ngModel)]="checkout.coupon_code"
                                class="form-control-coupon" placeholder="Enter Coupon Code">
                            <div class="input-group-append">
                                <button [ngClass]="{'button-load': isCouponSubmitLoading}" class="btn-coupon"
                                    type="submit" (click)="checkCoupon()">
                                    <i class="fa fa-circle-o-notch fa-spin" *ngIf="isCouponSubmitLoading"></i>
                                    Apply
                                </button>
                            </div>
                            <label class="coupon-info-valid" *ngIf="coupon_applied == 'valid'">Coupon code applied
                                successfully.</label>
                            <label class="coupon-info-invalid" *ngIf="coupon_applied == 'invalid'">Coupon code is not
                                valid.</label>
                        </div>
                        <ul class="totals clear">
                            <li class="subtotal2 clear" style="border-top: 0px none;">
                                <span class="name">Subtotal</span>
                                <span class="price">
                                    <span>
                                        <span class="line-through pr10"
                                            [ngClass]="{'cross': coupon_applied == 'valid'}">₹{{ getTotalAmout() }}</span>
                                        <span class="line-through pr10"
                                            *ngIf="coupon_applied == 'valid'">₹{{ cartTotalDiscountAmount }}</span>
                                    </span>
                                </span>
                            </li>
                        </ul>
                        <div class="additional-charges mbot0">(plus taxes)</div>
                        <button [ngClass]="{'button-load': isOrderSubmitLoading}"
                            class="ui large green fluid button checkout mt5"
                            [disabled]="!checkoutForm.valid || !checkout.address_id" (click)="order()">
                            <i class="fa fa-circle-o-notch fa-spin" *ngIf="isOrderSubmitLoading"></i>
                            Continue
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>