<section class="checkout__pagesss checkoutpagee">
    <div class="container">
        <div class="col-md-8">
            <div class="row" style="padding-top:25px; padding-bottom:25px;">
                <div class="col-md-12 s__e__fef__f">
                    <div id="mainContentWrapper">


                        <div class="shopping_cart">
                            <form class="form-horizontal" role="form" action="" method="post" id="payment-form">

                                <div class="panel-group" id="accordion">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion"
                                                    href="#collapseOne">Login First</a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse ">
                                            <div class="panel-body">
                                                <div class="formmss">
                                                    <div class="col-md-5">
                                                        <div class="login__ds">
                                                            <input type="email" name="email" placeholder="Email Id">
                                                        </div>
                                                    </div>

                                                    <div class="col-md-5">
                                                        <div class="login__ds">
                                                            <input type="password" name="password"
                                                                placeholder="Password">
                                                        </div>
                                                    </div>

                                                    <div class="col-md-2">
                                                        <div class="login__ds">
                                                            <button type="submit" class="submit__sss"> Login</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion"
                                                href="#collapseTwo">Contact
                                                and Billing Information</a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <b>Help us keep your account safe and secure, please verify your billing
                                                information.</b>
                                            <br><br>


                                            <div class="form__0">

                                                <div class="col-md-6">
                                                    <div class="form__group">
                                                        <label>First Name </label>
                                                        <input type="text" placeholder="Neeraj">
                                                    </div>
                                                </div>


                                                <div class="col-md-6">
                                                    <div class="form__group">
                                                        <label>Last Name </label>
                                                        <input type="text" placeholder="Pandey">
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form__group">
                                                        <label>Phone </label>
                                                        <input type="text" placeholder="+9800248902">
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form__group">
                                                        <label>Email </label>
                                                        <input type="text" placeholder="xyz@gmail.com">
                                                    </div>
                                                </div>



                                                <div class="col-md-6">
                                                    <div class="form__group">
                                                        <label>Choose your country </label>
                                                        <div class="custom-select">
                                                            <select>
                                                                <option value="0">Select Country:</option>
                                                                <option value="1">India</option>
                                                                <option value="2">Belgium</option>
                                                                <option value="3">Austria</option>
                                                                <option value="4">Bahrain</option>
                                                                <option value="5">Algeria</option>

                                                            </select>

                                                            <div class="select-selected">Select Country:</div>
                                                            <div class="select-items select-hide">
                                                                <div>India</div>
                                                                <div>Belgium</div>
                                                                <div>Austria</div>
                                                                <div>Bahrain</div>
                                                                <div>Algeria</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form__group">
                                                        <label>Choose your City </label>
                                                        <div class="custom-select">
                                                            <select>
                                                                <option value="0">Select Country:</option>
                                                                <option value="1">India</option>
                                                                <option value="2">Belgium</option>
                                                                <option value="3">Austria</option>
                                                                <option value="4">Bahrain</option>
                                                                <option value="5">Algeria</option>

                                                            </select>

                                                            <div class="select-selected">Select Country:</div>
                                                            <div class="select-items select-hide">
                                                                <div>India</div>
                                                                <div>Belgium</div>
                                                                <div>Austria</div>
                                                                <div>Bahrain</div>
                                                                <div>Algeria</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form__group">
                                                        <label>Town / City * </label>
                                                        <input type="text" placeholder="">
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form__group">
                                                        <label>Company name (optional) </label>
                                                        <input type="text" placeholder="">
                                                    </div>
                                                </div>

                                                <div class="col-md-12">
                                                    <div class="form__group">
                                                        <label>Street address </label>
                                                        <input type="text" placeholder="House number and street name">
                                                    </div>
                                                </div>

                                                <div class="col-md-12">
                                                    <div class="form__group">
                                                        <label>Apartment, suite, unit etc. (optional) (optional)
                                                        </label>
                                                        <input type="text"
                                                            placeholder="Apartment, suite, unit etc. (optional)">
                                                    </div>
                                                </div>







                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <div style="text-align: center;"><a data-toggle="collapse"
                                                data-parent="#accordion" href="#collapseThree"
                                                class=" btn   btn-success" id="payInfo" style="width:100%;" onclick="$(this).fadeOut();  
                       document.getElementById('collapseThree').scrollIntoView()">Enter Payment Information »</a>
                                        </div>
                                    </h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                            <b>Payment Information</b>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <legend>What method would you like to pay with today?</legend>



                                        <div class="col-md-12">
                                            <div class="form__group">
                                                <label>Name on Card </label>
                                                <input type="text" placeholder="Card Holder's Name">
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form__group">
                                                <label>Debit/Credit Card Number </label>
                                                <input type="text" placeholder="Debit/Credit Card Number">
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form__group">
                                                <label>Month </label>
                                                <div class="custom-select">
                                                    <select>
                                                        <option>Month</option>
                                                        <option value="01">Jan (01)</option>
                                                        <option value="02">Feb (02)</option>
                                                        <option value="03">Mar (03)</option>
                                                        <option value="04">Apr (04)</option>
                                                        <option value="05">May (05)</option>
                                                        <option value="06">June (06)</option>
                                                        <option value="07">July (07)</option>
                                                        <option value="08">Aug (08)</option>
                                                        <option value="09">Sep (09)</option>
                                                        <option value="10">Oct (10)</option>
                                                        <option value="11">Nov (11)</option>
                                                        <option value="12">Dec (12)</option>

                                                    </select>

                                                    <div class="select-selected">Month</div>
                                                    <div class="select-items select-hide">
                                                        <div>Jan (01)</div>
                                                        <div>Feb (02)</div>
                                                        <div>Mar (03)</div>
                                                        <div>Apr (04)</div>
                                                        <div>May (05)</div>
                                                        <div>June (06)</div>
                                                        <div>July (07)</div>
                                                        <div>Aug (08)</div>
                                                        <div>Sep (09)</div>
                                                        <div>Oct (10)</div>
                                                        <div>Nov (11)</div>
                                                        <div>Dec (12)</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-md-4">
                                            <div class="form__group">
                                                <label>Year </label>
                                                <div class="custom-select">
                                                    <select>
                                                        <option value="2016">2016</option>
                                                        <option value="2017">2017</option>
                                                        <option value="2018">2018</option>
                                                        <option value="2019">2019</option>
                                                        <option value="2020">2020</option>
                                                        <option value="2021">2021</option>
                                                        <option value="2022">2022</option>
                                                        <option value="2023">2023</option>
                                                        <option value="2024">2024</option>

                                                    </select>

                                                    <div class="select-selected">2016</div>
                                                    <div class="select-items select-hide">
                                                        <div>2017</div>
                                                        <div>2018</div>
                                                        <div>2019</div>
                                                        <div>2020</div>
                                                        <div>2021</div>
                                                        <div>2022</div>
                                                        <div>2023</div>
                                                        <div>2024</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form__group">
                                                <label>Card CVC </label>
                                                <input type="text" placeholder="092">
                                            </div>
                                        </div>



                                        <div class="col-md-12">
                                            <button type="submit" class="btn btn-success btn-lg" style="width:100%;">Pay
                                                Now
                                            </button>
                                            <br>
                                            <div style="text-align: left;"><br>
                                                By submiting this order you are agreeing to our <a
                                                    href="/legal/billing/">universal
                                                    billing agreement</a>, and <a href="/legal/terms/">terms of
                                                    service</a>
                                                If you have any questions about our products or services please contact
                                                us
                                                before placing this order.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="right__side__bar__0">
                <div class="s__99__99">
                    <h3 class="you___0jhjhj">Your Order</h3>



                    <ul class="s__tts__s">
                        <li>
                            <div class="col-md-1 pl15">
                                <div class="nveg tag left" data-icon="ǝ" style="position: relative; top: 0px;"></div>
                            </div>
                            <div class="col-md-11">
                                <div class="cont__wwsx">
                                    <div class="d__00d">
                                        <h3>Murg Makhnai</h3>
                                        <h5>Quantity - Qtr</h5>
                                    </div>
                                    <div class="form__0__s">
                                        <form>
                                            <div class="value-button" id="decrease" onclick="decreaseValue()"
                                                value="Decrease Value">-</div>
                                            <input type="number" id="number" value="0">
                                            <div class="value-button" id="increase" onclick="increaseValue()"
                                                value="Increase Value">+</div>
                                        </form>

                                    </div>
                                    <div class="item-price-container"><span><span
                                                style="text-decoration: line-through;">₹335.00</span><span
                                                style="padding-left: 5px;">₹301.50</span></span><span
                                            class="s__00">₹301.50</span></div>
                                </div>
                            </div>

                        </li>


                        <li>
                            <div class="col-md-1 pl15">
                                <div class="nveg tag left" data-icon="ǝ" style="position: relative; top: 0px;"></div>
                            </div>
                            <div class="col-md-11">
                                <div class="cont__wwsx">
                                    <div class="d__00d">
                                        <h3>Murg Makhnai</h3>
                                        <h5>Quantity - Qtr</h5>
                                    </div>
                                    <div class="form__0__s">
                                        <form>
                                            <div class="value-button" id="decrease" onclick="decreaseValue()"
                                                value="Decrease Value">-</div>
                                            <input type="number" id="number" value="0">
                                            <div class="value-button" id="increase" onclick="increaseValue()"
                                                value="Increase Value">+</div>
                                        </form>

                                    </div>
                                    <div class="item-price-container"><span><span
                                                style="text-decoration: line-through;">₹335.00</span><span
                                                style="padding-left: 5px;">₹301.50</span></span><span
                                            class="s__00">₹301.50</span></div>
                                </div>
                            </div>

                        </li>

                        <li>
                            <div class="col-md-1 pl15 ">
                                <div class="nveg tag left g__ujg" data-icon="ǝ" style="position: relative; top: 0px;">
                                </div>
                            </div>
                            <div class="col-md-11">
                                <div class="cont__wwsx">
                                    <div class="d__00d">
                                        <h3>Murg Makhnai</h3>
                                        <h5>Quantity - Qtr</h5>
                                    </div>
                                    <div class="form__0__s">
                                        <form>
                                            <div class="value-button" id="decrease" onclick="decreaseValue()"
                                                value="Decrease Value">-</div>
                                            <input type="number" id="number" value="0">
                                            <div class="value-button" id="increase" onclick="increaseValue()"
                                                value="Increase Value">+</div>
                                        </form>

                                    </div>
                                    <div class="item-price-container"><span><span
                                                style="text-decoration: line-through;">₹335.00</span><span
                                                style="padding-left: 5px;">₹301.50</span></span><span
                                            class="s__00">₹301.50</span></div>
                                </div>
                            </div>

                        </li>

                        <li>
                            <div class="col-md-1 pl15 ">
                                <div class="nveg tag left g__ujg" data-icon="ǝ" style="position: relative; top: 0px;">
                                </div>
                            </div>
                            <div class="col-md-11">
                                <div class="cont__wwsx">
                                    <div class="d__00d">
                                        <h3>Murg Makhnai</h3>
                                        <h5>Quantity - Qtr</h5>
                                    </div>
                                    <div class="form__0__s">
                                        <form>
                                            <div class="value-button" id="decrease" onclick="decreaseValue()"
                                                value="Decrease Value">-</div>
                                            <input type="number" id="number" value="0">
                                            <div class="value-button" id="increase" onclick="increaseValue()"
                                                value="Increase Value">+</div>
                                        </form>

                                    </div>
                                    <div class="item-price-container"><span><span
                                                style="text-decoration: line-through;">₹335.00</span><span
                                                style="padding-left: 5px;">₹301.50</span></span><span
                                            class="s__00">₹301.50</span></div>
                                </div>
                            </div>

                        </li>

                    </ul>
                </div>

                <div class="side-bar-bottom cart-summary">
                    <ul class="totals clear">
                        <li class="subtotal2 clear" style="border-top: 0px none;">
                            <span class="name">Subtotal</span>
                            <span class="price">
                                <span>
                                    <span class="line-through pr10">₹2675.00</span><!-- react-text: 4167 -->₹2407.50
                                    <!-- /react-text -->
                                </span>
                            </span>
                        </li>
                    </ul>
                    <div class="additional-charges mbot0">
                        <!-- react-text: 4041 -->(
                        <!-- /react-text -->
                        <!-- react-text: 4042 -->plus taxes
                        <!-- /react-text -->
                        <!-- react-text: 4043 -->)
                        <!-- /react-text -->
                    </div>
                    <div class="special-instructions mbot0"><textarea
                            placeholder="Enter any additional information about your order. Eg: 'No Mayo!'"
                            style="max-width: 100%; resize: none;"></textarea></div>
                    <button class="ui large green fluid button checkout">Continue</button>
                </div>

            </div>

        </div>
    </div>
</section>