<footer>
    <div class="upper-footer">
        <div class="container">
            <div class="columns">
                <div class="col-md-3">
                    <div class="columnmobile2">
                        <h4>Popular Cities</h4>
                        <ul>
                            <li><a href="#">Aberaeron</a></li>
                            <li><a href="#">Aberdeen</a></li>
                            <li><a href="#">Aberfeldy</a></li>
                            <li><a href="#">Abergavenny</a></li>
                            <li><a href="#">Aldershot</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="columnmobile2">
                        <h4>Popular Cuisnies</h4>
                        <ul>
                            <li><a href="#">Apple Juice</a></li>
                            <li><a href="#">BB.Q</a></li>
                            <li><a href="#">Chicken Roast</a></li>
                            <li><a href="#">Hot Dogs</a></li>
                            <li><a href="#">Prawns</a></li>
                            <li><a href="#">Steam Roast</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="columnmobile2">
                        <h4>Menu</h4>
                        <ul>
                            <li><a routerLink="/about-us">About Us</a></li>
                            <li><a routerLink="/contact-us">Contact Us</a></li>
                            <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
                            <li><a routerLink="/terms-condition">Terms & Conditions</a></li>
                            <li><a routerLink="/vendors">Vendors List</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="columnmobile2">
                        <h4>Connect</h4>
                        <ul class="social-media">
                            <li><a href="#" data-original-title="twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" data-original-title="linkedin"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#" data-original-title="pinterest"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#" data-original-title="google"><i class="fa fa-google"></i></a></li>
                            <li><a href="#" data-original-title="instagram"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#" data-original-title="youtube"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                        <ul class="top_social_medias">
                            <li><span class="bgcolor"><i class="fa fa-phone"></i>
                                </span>
                                <p>+1 321 828 6662</p>
                            </li>
                            <li><span class="bgcolor"><i class="fa fa-envelope"></i>
                                </span>
                                <p><a href="mailto:support@chimpstudio.com">support@chimpstudio.com</a></p>
                            </li>
                            <div>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="lower-footer">
        <div class="container bordertop_here">
            <div class="col-md-6">
                <div class="copy-right">
                    <p>
                        © 2020 demo. All Rights Reserved. Powered By <a href="#">Most Market</a>.</p>
                </div>
            </div>
            <div class="col-md-6">
                <ul class="demo_te">
                    <li><img src="assets/images/pp1.png" /></li>
                    <li><img src="assets/images/pp2.png" /></li>
                    <li><img src="assets/images/pp3.png" /></li>
                    <li><img src="assets/images/pp4.png" /></li>
                    <li><img src="assets/images/pp5.png" /></li>
                    <li><img src="assets/images/pp6.png" /></li>
                </ul>
            </div>
        </div>
    </div>
</footer>