.card {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid #dbddf1;
	border-radius: 4px;
	box-shadow: 0 0 12px 0 rgba(21, 17, 148, 0.06);
}

.card-header {
	background: 0 0;
	padding: .5rem 1.5rem;
	display: -ms-flexbox;
	display: flex;
	min-height: 3.5rem;
	-ms-flex-align: center;
	align-items: center;
}

.card-header {
	border-bottom: 1px solid #0000001c;
}

.card-header .card-title {
	margin-bottom: 0px;
	font-size: 19px;
	font-weight: 500;
	color: #222;
	padding-top: 8px;
	padding-bottom: 4px;
	margin-bottom: ;
}

.profile-pic-img {
	position: relative;
	width: 70px;
	height: 70px;
	line-height: 5rem;
	font-size: 2rem;
	text-align: center;
	margin: 0 auto;
	margin-top: 18px;
}

.brround {
	border-radius: 50%;
}

.font-weight-semibold {
	font-weight: 500 !important;
}

.mt-3.mb-0.font-weight-semibold {
	font-size: 15px;
	margin-top: 8px;
}

.item1-links a.active {
	background: #eaeaf5;
	color: #6b66f8;
	border-right: 2px solid #c33332;
}

.border-bottom {
	border-bottom: 1px solid #dbddf1 !important;
	width: 100%;
	display: inline-block;
	padding: 15px 0 17px 20px;
	color: #000;
}

.card.mb-0 .form-group {
	margin-bottom: 1rem;
}

.card.mb-0 .form-label {
	display: block;
	margin-bottom: .375rem;
	font-weight: 500;
	font-size: .875rem;
}

.card.mb-0 .form-control {
	display: block;
	width: 100%;
	padding: .375rem .75rem;
	font-size: .9375rem;
	line-height: 1.6;
	color: #2e384d;
	height: 39px;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #eaebf7;
	border-radius: 4px;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.card.mb-0 .form-control {
	color: #c6cedc;
	opacity: 1;
}

.card.mb-0 .card-body {
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	margin: 0;
	padding: 1.5rem 1.5rem;
	position: relative;
	height: 100%;
}

.card.mb-0 .form-control {
	display: block;
	width: 100%;
	padding: .375rem .75rem;
	font-size: .9375rem;
	line-height: 1.6;
	color: #2e384d;
	height: auto;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid lightgray;
	border-radius: 4px;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	font-size: 13px;
}

.mydashboardpage__12 .container {
	width: 92% !important;
	/* margin-top: 20px; */
	/* float: left; */
	/* width: 100%; */
	position: relative;
	top: 92px;
}

.mydashboardpage__12 .form-label {
	display: block;
	margin-bottom: .375rem;
	font-weight: 500;
	font-size: .875rem;
}

.card.mb-0 .form-label {
	display: block;
	margin-bottom: 8px;
	font-weight: 500;
	font-size: .875rem;
	font-size: 14px !important;
	margin-top: 10px;
}

.custom-file {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 2.375rem;
	margin-bottom: 0;
}

.custom-file-input {
	opacity: 0;
}

.custom-file-label {
	background: #eee;
	color: #000;
	width: 100%;
	text-align: center;
	padding: 9px;
	margin-top: -28px;
	position: relative;
	top: -19px;
	border-radius: 5px;
}

.custom-file-input {
	opacity: 0;
	height: 47px;
	width: 100%;
	position: relative;
	z-index: 99999;
	cursor: pointer;
}

.btn.ripple.btn-secondary {
	float: right;
	margin-top: 27px;
	margin-bottom: 28px;
	margin-right: 18px;
}

.btn.ripple.btn-secondary {
	float: right;
	margin-top: 27px;
	margin-bottom: 28px;
	margin-right: 18px;
	width: 30%;
	background: #c33332;
	color: #fff;
	padding: 12px;
	box-shadow: 0 0 4px -1px #000;
	font-weight: 600;
	letter-spacing: 1px;
}

footer {
	float: left;
	width: 100%;
	padding-top: 53px;
	/* padding-bottom: 55px; */
	background: #282c35;
	margin-top: 0px;
	margin-top: 130px;
}

.table thead th, .text-wrap table thead th {
	border-top: 0;
	border-bottom-width: 1px;
	padding-top: .5rem;
	padding-bottom: .5rem;
}

.table th, .text-wrap table th {
	color: #2e384d;
	text-transform: uppercase;
	font-size: .875rem;
	font-weight: 400;
}

.table-bordered td, .table-bordered th, .text-wrap table td, .text-wrap table th {
	border: 1px solid #eaebf7;
}

.table td {
	padding: .75rem;
	vertical-align: top;
	border-top: 0;
}

.badge-danger {
	color: #fff;
	background-color: #f84242;
	box-shadow: 0 5px 10px rgba(248, 66, 66, 0.3);
}

.badge-primary {
	color: #fff;
	background-color: #6b66f8;
	box-shadow: 0 5px 10px rgba(107, 102, 248, 0.3);
}

.badge {
	display: inline-block;
	min-width: 10px;
	padding: 7px 11px 6px 11px;
	font-size: 11px;
	font-weight: bold;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	border-radius: 3px;
}

th {
	color: #2e384d !important;
	font-size: 13px !important;
	padding: 10px !important;
	font-weight: 600 !important;
	font-family: OpenSans;
}

.card-body td {
	font-size: 13px;
	padding-top: 13px;
	padding-bottom: 12px;
}

.card-aside-img {
	float: left;
	margin-right: 13px;
}

.card-aside-img img {
	width: 65px;
}

.text-over {
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 0px;
}

.text-muted {
	color: #777;
	font-size: 11px;
	/* margin-top: 10px; */
}

.text-over {
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 8px;
}

.row.border-bottom.ml-0.mr-0 .card-title {
	margin: 0px;
	font-size: 16px;
	font-weight: 500;
}

.row.border-bottom.ml-0.mr-0 .card-body {
	margin: 0px;
	padding: 0px;
}

.row.border-bottom.ml-0.mr-0 {
	margin-left: 0px;
}

.fs-20 {
	font-weight: 500;
	font-size: 22px;
}

.row.ml-0.mr-0 {
	float: left;
	width: 100%;
	border-bottom: 1px solid #00000026;
	margin-left: 0px;
	padding-bottom: 12px;
	padding-top: 15px;
}

.address__page {
	float: left;
	width: 100%;
	background: #fff;
}

.addressicon .fa {
	font-size: 68px;
}

.s__showing {
	float: left;
	width: 50%;
	border: 1px solid #000;
}

.addressicon {
	float: left;
	width: 30%;
}

.address__content {
	float: left;
	width: 69%;
}

.address__content h3 {
	margin-bottom: 0px;
	font-size: 24px;
	font-weight: 500;
}

.edit__delete li {
	float: left;
	margin-right: 42px;
}

.edit__delete li a {
	color: red;
}

.s__showing {
	float: left;
	width: 30.7%;
	border: 1px solid #0000001a;
	padding: 16px;
	margin: 12px;
	border-radius: 6px;
}

.checkbox-li {
	float: left;
	width: 100px;
}