<div *ngIf="control">
    <div *ngIf="control.touched && control.errors && !server_message" class="form-error-div">
        <span *ngIf="control.errors['required']">Field is required.</span>
        <span *ngIf="control.errors['email']">Email is not valid.</span>
        <span *ngIf="control.errors['minlength']">Minimum length is
            {{control.errors['minlength']['requiredLength']}}.</span>
        <span *ngIf="control.errors['maxlength']">Maximum length is
            {{control.errors['maxlength']['requiredLength']}}.</span>
        <span *ngIf="control.errors['smallandspace']">Only small and space characters are allowed.</span>
        <span *ngIf="control.errors['ValidateSlug']">Slug is not valid.</span>
        <span *ngIf="control.errors['ValidateNoSpace']">Space is not allowed.</span>
        <span *ngIf="control.errors['ValidateNumber']">Only numeric value is allowed.</span>
        <span *ngIf="control.errors['ValidateDecimal']">Only decimal value is allowed.</span>
    </div>
</div>
<div *ngIf="server_message" class="form-error-div">
    <span *ngIf="server_message">{{ server_message ? server_message.message : '' }}</span>
</div>