.form-error-div span {
    float: left;
    width: 100%;
    color: #f5222d;
    font-weight: 700;
    margin-bottom: 0rem;
    font-size: .8rem;
    display: none;
}
.form-error-div {
    float: left;
    width: 100%;
}

.form-error-div span:last-child {
    display: block !important;
}