<section class="about__heading__page">
    <div class="container">
        <h3>About Us</h3>
    </div>
</section>
<section class="about_sss__009">
    <div class="container">
        <div class="all__heading">
            <h3><span class="bold_0">Welcome to  </span> Most Market</h3>
        </div>
        <div class="col-md-3">
            <div class="le__sss__contentts">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                    book. It has survived not only five</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="center__imgaes">
                <div class="imssawe">
                    <img src="assets/images/flower-img.png" />
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="le__sss__contentts">
                <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
        </div>
    </div>
</section>
<section class="about__imagess__a">
    <div class="col-md-7" style="padding:0px;">
        <div class="le___images">
            <img src="assets/images/rooms.jpg" />
        </div>
    </div>
    <div class="col-md-2 col-md-offset-1">
        <div class="headinfgg__sssww">
            <h3>A Better Place for reunion</h3>
            <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Dummy text of the printing and
                typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but
                also the leap into electronic typesetting, remaining essentially unchanged.
            </p>
        </div>
    </div>
    <div class="col-md-2">
        <div class="headinfgg__sssww">
            <h3>A Better Place for reunion</h3>
            <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Dummy text of the printing and
                typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but
                also the leap into electronic typesetting, remaining essentially unchanged.
            </p>
        </div>
    </div>
</section>
<section class="see__how__it__works hk__jj">
    <div class="container">
        <div class="all__heading">
            <h3><span class="bold_0">See</span> How it Works</h3>
        </div>
        <div class="how__it__works__io">
            <div class="col-md-4">
                <div class="chooes__what">
                    <div class="left_s__icon__digit">
                        <div class="dis_s">
                            <i class="fa fa-check"></i>
                        </div> <br>
                        <div class="s__00s">1</div>
                    </div>
                    <div class="t___0">
                        <h3>Choose What To Do</h3>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="chooes__what">
                    <div class="left_s__icon__digit">
                        <div class="dis_s">
                            <i class="fa fa-check"></i>
                        </div> <br>
                        <div class="s__00s">2</div>
                    </div>
                    <div class="t___0">
                        <h3>Choose What To Do</h3>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="chooes__what">
                    <div class="left_s__icon__digit">
                        <div class="dis_s">
                            <i class="fa fa-check"></i>
                        </div> <br>
                        <div class="s__00s">3</div>
                    </div>
                    <div class="t___0">
                        <h3>Choose What To Do</h3>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="chooespopular_res chooes__chooess">
    <div class="container">
        <div class="all__heading">
            <h3 style="color: #000; margin-left: 11px;"><span class="bold_0">Choose from  </span> Most Popular</h3>
        </div>
        <div class="col-md-4 col-xs-6 grid-listing-col ">
            <div class="s_col_col_1">
                <div class="img-holder">
                    <figure>
                        <a href="#">
                            <img src="http://foodbakery.chimpgroup.com/homev1/wp-content/uploads/cover-photo20-359x212.jpg" class="attachment-foodbakery_media_8 size-foodbakery_media_8" alt="" width="359" height="212"> </a>
                        <figcaption class="listing-meta">
                            <div class="listing-inner clearfix">
                                <div class="list-rating">
                                    <div class="rating-star">
                                        <ul class="start_o">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="text-holder">
                    <div class="listing-inner">
                        <h4><a href="#">Nature Healthy Food</a></h4>
                        <p>Apple Juice, Beef Roast, Cheese Burger</p>
                        <div class="min-order">
                            Min Order <span class="price">£15.00</span>
                        </div>
                    </div>
                    <div class="listing-footer">
                        <div class="listing-inner clearfix">
                            <div class="img-holder">
                                <a href="#">
                                    <img src="http://foodbakery.chimpgroup.com/homev1/wp-content/uploads/listing-logo03.png" class="img-thumb wp-post-image" alt=""> </a>
                            </div>
                            <div class="text-holder">
                                <p>Bristol, Bristol</p>
                                <p class="deliver-time"><span class="icon-motorcycle2"><img src="assets/images/sd.png"></span>10 min</p>
                                <p class="pickup-time"><span class="icon-clock4"><img src="assets/images/click.png"></span>15 min</p>
                                <a href="#" class="ordernow-btn bgcolor">Order Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-6 grid-listing-col ">
            <div class="s_col_col_1">
                <div class="img-holder">
                    <figure>
                        <a href="#">
                            <img src="http://foodbakery.chimpgroup.com/homev1/wp-content/uploads/cover-photo20-359x212.jpg" class="attachment-foodbakery_media_8 size-foodbakery_media_8" alt="" width="359" height="212"> </a>
                        <figcaption class="listing-meta">
                            <div class="listing-inner clearfix">
                                <div class="list-rating">
                                    <div class="rating-star">
                                        <ul class="start_o">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="text-holder">
                    <div class="listing-inner">
                        <h4><a href="#">Nature Healthy Food</a></h4>
                        <p>Apple Juice, Beef Roast, Cheese Burger</p>
                        <div class="min-order">
                            Min Order <span class="price">£15.00</span>
                        </div>
                    </div>
                    <div class="listing-footer">
                        <div class="listing-inner clearfix">
                            <div class="img-holder">
                                <a href="#">
                                    <img src="http://foodbakery.chimpgroup.com/homev1/wp-content/uploads/listing-logo03.png" class="img-thumb wp-post-image" alt=""> </a>
                            </div>
                            <div class="text-holder">
                                <p>Bristol, Bristol</p>
                                <p class="deliver-time"><span class="icon-motorcycle2"><img src="assets/images/sd.png"></span>10 min</p>
                                <p class="pickup-time"><span class="icon-clock4"><img src="assets/images/click.png"></span>15 min</p>
                                <a href="#" class="ordernow-btn bgcolor">Order Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-6 grid-listing-col ">
            <div class="s_col_col_1">
                <div class="img-holder">
                    <figure>
                        <a href="#">
                            <img src="http://foodbakery.chimpgroup.com/homev1/wp-content/uploads/cover-photo20-359x212.jpg" class="attachment-foodbakery_media_8 size-foodbakery_media_8" alt="" width="359" height="212"> </a>
                        <figcaption class="listing-meta">
                            <div class="listing-inner clearfix">
                                <div class="list-rating">
                                    <div class="rating-star">
                                        <ul class="start_o">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="text-holder">
                    <div class="listing-inner">
                        <h4><a href="#">Nature Healthy Food</a></h4>
                        <p>Apple Juice, Beef Roast, Cheese Burger</p>
                        <div class="min-order">
                            Min Order <span class="price">£15.00</span>
                        </div>
                    </div>
                    <div class="listing-footer">
                        <div class="listing-inner clearfix">
                            <div class="img-holder">
                                <a href="#">
                                    <img src="http://foodbakery.chimpgroup.com/homev1/wp-content/uploads/listing-logo03.png" class="img-thumb wp-post-image" alt=""> </a>
                            </div>
                            <div class="text-holder">
                                <p>Bristol, Bristol</p>
                                <p class="deliver-time"><span class="icon-motorcycle2"><img src="assets/images/sd.png"></span>10 min</p>
                                <p class="pickup-time"><span class="icon-clock4"><img src="assets/images/click.png"></span>15 min</p>
                                <a href="#" class="ordernow-btn bgcolor">Order Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>